
body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(150, 152, 166);
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.wrapper {
  padding: 0 var(--wrapper);
  max-width: var(--desktop);
  margin: auto;
}

.title__primary {
  color: rgb(45, 49, 77);
  font-size: 2em;
  font-weight: 400;
}

.title__secondary{
    color: rgb(45, 49, 77);
    font-size: 1.2em;
    font-weight: 400;
}

.title__tertiary{
    color: rgb(45, 49, 77);
    font-size: 0.85em;
    font-weight: 400;
}

.menu{
  display: none;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu__item{
  padding: 0 1em;
}

.menu__link{
  color: rgb(150, 152, 166);
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 400;
}

.menu__hamburger{
  background: url("./Images/icon-hamburger.svg") no-repeat center;
  width: 24px;
}

.menu__checkbox{
display: none;
}

.menu__checkbox:checked ~ .menu {
display: black;
background: linear-gradient(to botton, var(darkblue) 0%, transparent 100%);
position: absolute;
height: 100vh;
padding: 24px 24px;
top: 100%;
left: 0;
right: 0;
z-index: 2;
}

.menu__checkbox:checked ~ .menu__hamburger{
  background: url(./Images/icon-close.svg) no-repeat center;
}
.menu__checkbox:checked ~ .menu .menu__item {
  padding: 0;
  background: white;
}

.menu__checkbox:checked ~ .menu .menu__item:first-child {
  padding-top: 0.8em;
  border-radius: 0.3em 0.3em 0 0;
}

.menu__checkbox:checked ~ .menu .menu__item:last-child {
  padding-bottom: 0.8em;
  border-radius: 0 0 0.3em 0.3em;
}
.menu__checkbox:checked ~ .menu .menu__link {
  padding: 0.6em 1em;
  display: block;
  color: darkblue;
  font-size: 1em;
  text-align: center;
}

@media screen {
  .menu{
    display: flex;
  }

  .menu__hamburger{
    display: none;
  }
}
