:root {
  /* Primary colors */
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  /* Neutral colors */
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  /* Layout */
  --mobile: 375px;
  --desktop: 1112px;
  --wrapper: 24px;
}

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grayishBlue);
  background-color: var(--white);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}
