
body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(150, 152, 166);
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.wrapper {
  padding: 0 var(--wrapper);
  max-width: var(--desktop);
  margin: auto;
}

.title__primary {
  color: rgb(45, 49, 77);
  font-size: 2em;
  font-weight: 400;
}

.title__secondary{
    color: rgb(45, 49, 77);
    font-size: 1.2em;
    font-weight: 400;
}

.title__tertiary{
    color: rgb(45, 49, 77);
    font-size: 0.85em;
    font-weight: 400;
}

.menu{
  display: none;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu__item{
  padding: 0 1em;
}

.menu__link{
  color: rgb(150, 152, 166);
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 400;
}

.menu__hamburger{
  background: url("./Images/icon-hamburger.svg") no-repeat center;
  width: 24px;
}

.menu__checkbox{
display: none;
}

.menu__checkbox:checked ~ .menu {
display: black;
background: linear-gradient(to botton, var(darkblue) 0%, transparent 100%);
position: absolute;
height: 100vh;
padding: 24px 24px;
top: 100%;
left: 0;
right: 0;
z-index: 2;
}

.menu__checkbox:checked ~ .menu__hamburger{
  background: url(./Images/icon-close.svg) no-repeat center;
}
.menu__checkbox:checked ~ .menu .menu__item {
  padding: 0;
  background: white;
}

.menu__checkbox:checked ~ .menu .menu__item:first-child {
  padding-top: 0.8em;
  border-radius: 0.3em 0.3em 0 0;
}

.menu__checkbox:checked ~ .menu .menu__item:last-child {
  padding-bottom: 0.8em;
  border-radius: 0 0 0.3em 0.3em;
}
.menu__checkbox:checked ~ .menu .menu__link {
  padding: 0.6em 1em;
  display: block;
  color: darkblue;
  font-size: 1em;
  text-align: center;
}

@media screen {
  .menu{
    display: flex;
  }

  .menu__hamburger{
    display: none;
  }
}

.header{
  display: flex;
  background: white;
  padding: 1.2em 24px;
  justify-content: space-between;
  max-width: 1112px;
  position: relative;
  margin: auto;
}

.header__logo{
  display: flex;
  align-items: center;
}

.header .btn{
  display: none;
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1em 24px;
  }
  .header .btn {
    display: block;
  }
}

.hero{
  background: whitesmoke;
  text-align: center;
  padding-bottom: 4.8em;
}

.hero__image{
  background: url("./Images/image-mockups.png") center bottom no-repeat, url("./Images/bg-intro-mobile.svg") center no-repeat;
  background-size: calc(375px - (24px * 2 - 18px)), cover;
  height: 300px;
  margin: 0 calc(-1 * 24px);
  margin-bottom: 1.4em;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 0;
  }
  .hero__main {
    background: url("./Images/bg-intro-desktop.svg") left 35vw top 75% no-repeat;
    background-size: 1230px;
  }
  .hero__grid {
    display: grid;
    grid-template-columns: 315px 1fr;
    grid-template-areas: "content image";
    min-height: 656px;
    align-items: center;
  }
  .hero__image{
    grid-area: image;
    background: none;
    position: absolute;
    background: url("./Images/image-mockups.png") left 25px top -124px no-repeat;
    background-size: auto;
    height: 818px;
    width: 361px;
    right: 0;
    margin: 0;
  }
  .hero__content{
    grid-area: content;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .hero .title__primary {
    font-size: 2.4em;
  }
  .hero .description, .hero .why-easybank__description {
    font-size: 1em;
  }
  .hero__main {
    background: url("./Images/bg-intro-desktop.svg") left 44vw top 71% no-repeat;
  }
  .hero__grid {
    grid-template-columns: 460px 1fr;
  }
  .hero__image {
    background: url("./Images/image-mockups.png") left 188px top -124px no-repeat;
    width: 567px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__main {
    background: url("./Images/bg-intro-desktop.svg") left 43vw top 70% no-repeat;
  }
  .hero__image {
    background: url("./Images/image-mockups.png") left 168px top -124px no-repeat;
    width: 667px;
  }
}
@media screen and (min-width: 1366px) {
  .hero__main {
    background: url("./Images/bg-intro-desktop.svg") left 41vw top 70% no-repeat;
  }
  .hero__image {
    background: url("./Images/image-mockups.png") left 148px top -124px no-repeat;
    width: 767px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__main {
    background: url("./Images/bg-intro-desktop.svg") left 43vw top 72% no-repeat;
  }
  .hero__image {
    background: url("./Images/image-mockups.png") left 84px top -124px no-repeat;
    width: auto;
    left: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .hero__main {
    background: url("./Images/bg-intro-desktop.svg") left 47vw top 70% no-repeat;
  }
  .hero__image {
    background: url("./Images/image-mockups.png") left 132px top -124px no-repeat;
  }
}

.why-easybank {
  background: var(--lightGrayishBlue);
  text-align: center;
  padding-top: 4em;
  padding-bottom: 3em;
}
.why-easybank__description {
  margin-bottom: 4em;
}
.why-easybank__grid {
  display: grid;
  grid-gap: 1.6em;
}
.why-easybank__feature img {
  margin-bottom: 1.5em;
}
.why-easybank__feature .description, .why-easybank__feature .why-easybank__description {
  margin-bottom: 2em;
}
